.inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.nav-container{
    display:flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 500;

}
.list-item{
    display: flex;
    list-style:none ;
    gap: 32px;
    padding: 34px 0;
}
.list-item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.logo{
    padding: 16px 120px;
}
.btn{
padding: 12px 16px 12px 16px;
background-color: #469165;
margin: 24px 120px;
color:rgba(255, 255, 255, 1);
border-radius: 4px;
border: none;
font-weight: 600;
cursor: pointer;
}
.btn:hover{
     color: #001931;
     background-color: #F7F6F2;
     cursor: pointer;
     border: 1px solid #469165;
}
#hero-sec {
    background-image: url(../Sections/assingment-1\ -4.jpg);
    max-width: 1600px;
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
   /* background-position: 50% 50%; */
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}
 
.hero-titel{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 205px;
    color: #FFFFFF;
}
.green-color{
    color: #30B868;
}

 .vault-btn{
padding: 12px 16px;
background-color: #469165;
color:rgba(255, 255, 255, 1);
border-radius: 4px;
border: none;
font-weight: 600;
cursor: pointer;
margin-right: 16px;
margin-top: 32px;

 }

 .works-btn{
padding: 12px 16px;
background-color: #469165;
color:rgba(255, 255, 255, 1);
border-radius: 4px;
border: none;
font-weight: 600;
cursor: pointer;
margin-top: 32px;
 }

#card-section{
    padding: 60px 120px;
    max-width: 1340px;
    
}


 .section-titel{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));

font-family: Inter;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
 }
 .section-info{
    color: var(--#627382, rgba(98, 115, 130, 1));

font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
 }
 .card-container{
    display: flex;
    justify-content:space-between;
    padding-top: 40px;
    /* border: 1px solid red; */
 }
 .card{
    /* border: 1px solid red; */
    margin: 24px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 10px 10px 50px #62738261;
    width: 302px;
    height: 280px;
    /* padding:20px 60px; */
    text-align: center;
    padding-top: 30px;
 }



 .card-png{
    background-color: rgba(249, 85, 85, 1);
    height: 40px;
    width: 40px;
    padding: 20px;
    border-radius: 50%;
    align-items: center;
 }
 .card-titel{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));

font-family: Inter;
font-size: 20px;
font-weight: 600;
/* text-align: center; */
 }
 .card-info{
    color: var(--#627382, rgba(98, 115, 130, 1));
font-size: 16px;
font-weight: 400;
line-height: 20px;
padding-top:16px ;
/* text-align: center; */
 }

 .brain-container{
    margin: 120px;
    display: flex;
    max-width: 1340px;
 }
 .text-container{
    padding: 102px 70px;
 }
 .solution{
color:#30B868;
font-size: 10px;
font-weight: 500;
line-height: 20px;
text-align: left;
text-transform: uppercase;
 }
 .second-brain{
color:#001931;
font-family: Inter;
font-style: Bold;
font-size: 40px;
font-weight: 700;
line-height: 58px;
text-align: left;
text-transform: capitalize;
 }
 .brain-info{
    color: #627382;
font-family: Inter;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 20px;
text-align: left;
padding: 16px;
 }
 .list{
    color: rgba(0, 25, 49, 1);

font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
text-align: left;}

.ul-list{
    list-style:none;
    padding-top: 20px;
    justify-content: center;
    }


       
#challenge{
    text-align: center;
    margin: 120px 120px 120px 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;

}
.cl-titel{
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 25, 49, 1);
    text-align: center;
    font-family: inter;

}
.cl-p{
    font-size: 12px;
    font-weight: 400px;
    font-family: inter, regular;
    line-height: 24px;
    padding: 16px;
    color: #627382;
}
.cl-btn{
padding: 12px 20px;
background-color: #469165;
color:rgba(255, 255, 255, 1);
border-radius: 4px;
border: none;
font-weight: 600;
cursor: pointer;
}
.cl-btn:hover{
     color: #001931;
     background-color: #F7F6F2;
     cursor: pointer;
     border: 2px solid #469165;
}

.cl-foot{
    color:#627382;
font-family: Inter;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 20px;
padding-top: 16px;
}

.footer-png{
    height: 346px;
    max-width: 1340px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    /* width: 100%; */
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}





.social-link p{
    color: rgba(255, 255, 255, 1);

font-family: Inter;
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 28px;
text-align: center;
}

.social-link img:hovor{
    background-color: #FFFFFF;
    cursor: pointer;
}


.social-link-png img{
    height: 15px;
    width: 15px;
    margin-top: 20px;
    /* background-color: #F7F6F2; */
    margin-left: 10px;
}

#footer .copy-right{
    background-color: #001931;
    color: rgba(250, 250, 250, 1);
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    font-weight: 400;
}