.inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display:flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 500;

}
.list-item{
    display: flex;
    list-style:none ;
    gap: 32px;
    padding: 34px 0;
}
.list-item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.logo{
    padding: 16px 120px;
}
.btn{
padding: 12px 16px 12px 16px;
background-color: #469165;
margin: 24px 120px;
color:rgba(255, 255, 255, 1);
border-radius: 4px;
border: none;
font-weight: 600;

}